
.category-tab ul li a{
	font-size: 12px;
}

.category-tab .nav-tabs li{
	float: none;
}

.mainmenu ul li a.active{
	padding-left: 15px;
}

.mainmenu ul li a.active{
	padding-left: 15px;
}